body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.choice {
    text-align: center;
    font-family: cursive;
    font-size: 200%;
    border: 1px solid silver;
    padding: 30px 10px;
    margin-top: 28px;
    display: block;
}

.choice:hover {
    text-decoration: none;
}

.debug-panel {
    position: absolute;
    width: 500px;
    opacity: 0.9;
    top: 0px;
    right: 0px;
    margin: 0px;
    z-index: 9999;
    height: 30px;
    transition: height 0.5s ease;
    resize: none;
}

.debug-panel:hover, .debug-panel:focus {
    height: 640px;
}
